:root {
    --main-color-grey: #757575;
    --secondary-color-black: #212121;
    --third-color-white: #FFFFFF;
    --fourth-color-blue: #2196F3;
    --fifth-color: #EEEEEE;
    --sixth-color: #000000;
    --seventh-color: #F5F4FA;
    --eighth-color: #FFFFFF99;
    --ninth-color: #2F303A;
    --tenth-color: #ECECEC;
    --eleventh-color: #AFB1B8;
    --list_items_main-gap: 30px;
   
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--third-color-white);
    color: var(--main-color-grey);
    font-size: 14px;
    letter-spacing: 0.03em;

}

li {
    list-style-type: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    line-height: 1.71;
}
.link {
    text-decoration: none;
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--tenth-color);
}
.header .container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--sixth-color);
    margin-right: 93px;
}

.span {
    color: var(--fourth-color-blue);
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-item {
    display: block;
}

.link,
.link_address {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color-black);
}

.link:hover,
.link_address:hover,
.link:focus,
.link_address:focus {
    color: var(--fourth-color-blue);
}

.current {
    color: var(--fourth-color-blue);
}
.header-address {
    margin-left: auto;
}
.header-address_group {
    display: flex;
    gap: 50px;
}

.link_address {
    font-style: normal;
    text-decoration: none;
    color: var(--main-color-grey);
 
}
.icon-header {
    fill: currentColor;
    margin-right: 10px;
}

.section-caption {
   
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background: var(--ninth-color);
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url('../images/fon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
}

.section-caption .section-slogan {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;
}

.section-slogan {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-color-white);
    margin-bottom: 40px;
}

.button {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--third-color-white);
    background: var(--fourth-color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    border: none;
    padding: 10px 32px;
}

.benefits {
    padding: 94px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-subtitle {
    display: flex;
    gap: 30px;
}
.list-icon {
    display: flex;
    background-color: var(--seventh-color);
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}
.subtitle {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-color-black);
    font-size: 14px;
    margin-bottom: 10px;
}
.section-details {
    padding-top: 0;
}
.section_employee {
    padding-top: 94px 0;
}

.tagline {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-color-black);
    margin-bottom: 50px;
}
.clients-list {
    display: flex;
    gap: 30px;
    

}
.icon-clients {
    fill: currentColor;
}
.clients-list_link{
   display: flex;
   box-sizing: border-box;
   border: 1px solid var(--eleventh-color);
   color: var(--eleventh-color);
   border-end-end-radius: 4px;
   align-items: center;
   justify-content: center;
   width: 170px;
    height: 92px;

}
.clients-list_link:hover,
.clients-list_link:focus{
    color:var(--fourth-color-blue);
    border-color: var(--fourth-color-blue);

}
.tagline-list {
    display: flex;
    gap: 30px;
}

.section_employee {
    background: var(--seventh-color);
}

.list_employee_item {
    display: flex;
    gap: 30px;
}

.box {
    background: var(--third-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14), 
     0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.img-employee {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.employee-content {
    padding-top: 30px;
    padding-bottom: 30px;}
    

.list_employee {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--secondary-color-black);
    margin-bottom: 10px;
}

.desc {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 16px;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.social-list_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--eleventh-color);
    border-radius: 50%;
}
.social-list_link:hover,
.social-list_link:focus {
    color: var(--third-color-white);
    background-color: var(--fourth-color-blue);
}
.icon {
    fill: currentColor;
}

.section-portfolio {
    padding: 94px 0;
}
.list_button_portfolio {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: 50px;
}

.list-navigation {
    text-align: center;
}

.button-portfolio {
    font-weight: 500;
    font-size: 16px;
    color: var(--secondary-color-black);
    background-color: var(--seventh-color);
    line-height: 1.62;
    text-align: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-portfolio.current,
.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--fourth-color-blue);
    color: var(--third-color-white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list_items_main {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--list_items_main-gap));
    margin-left: calc(-1 * var(--list_items_main-gap));
    cursor: pointer;
}
.portfolio-photo_link{
    display: block;
}
.portfolio-photo_link:hover,
.portfolio-photo_link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
     0px 4px 4px rgba(0, 0, 0, 0.06), 
     1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
}

.list_items_main>.items_main {
    flex-basis: calc(100% /3 - var(--list_items_main-gap));
    margin-left: var(--list_items_main-gap);
    margin-top: var(--list_items_main-gap);
}
.items_main {
    width: 370px;
}
.list-navigation-portfolio {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid var(--fifth-color);
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-color-black);
    margin-bottom: 4px;
}

.title_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--main-color-grey);
}

.footer {
    background: var(--ninth-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .container {
    display: flex;
    align-items: baseline;
}
.footer-container-slogan{
    margin-left: 70px;
}

.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--fourth-color-blue);
}

.span-footer {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--third-color-white);
}

.address-footer {
    margin-top: 20px;
}

.adress-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address {
    color: var(--third-color-white);
}

.footer-address_contact {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.footer-address,
.footer-address_contact {
    font-style: normal;
    text-decoration: none;
    line-height: 1.71;
}

.footer-address_contact:hover,
.footer-address_contact:focus {
    color: var(--fourth-color-blue);
}
.footer-social-list {
    display: flex;
    gap: 10px;
}
.footer-social {
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:var(--third-color-white);
        margin-right: 156px;
        margin-bottom: 20px;
}
.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--third-color-white);
    border-radius: 50%;
    }

.footer-social-link:hover,
.footer-social-link:focus {
    color: var(--third-color-white);
    background-color: var(--fourth-color-blue);
}



.icon-footer {
    fill: currentColor;
}